#inicio {
    grid-area: corpo;
    background-color: #ffe8bb;
    width: 100%;
    background-size: contain;
    padding: 20px;
}

.apresentacao {
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    width: 400px;
    padding: 200px;
}

#meio {
    grid-area: corpo;
    background-image: url(img/fundomarrom.png);
    width: 100%;
    background-size: contain;
    padding: 20px;
    height: 800px;
}